.cache/clangd/index/adl_serializer.hpp.5CABDDDD81345D76.idx
.cache/clangd/index/application.cpp.110DAE1262AF5C54.idx
.cache/clangd/index/application.h.74EEBE98610DC57B.idx
.cache/clangd/index/begin.hpp.FCFE846001145DF7.idx
.cache/clangd/index/binary_reader.hpp.531F10C8B587CEE7.idx
.cache/clangd/index/binary_writer.hpp.E6A04F2A16D9818B.idx
.cache/clangd/index/byte_container_with_subtype.hpp.6FA959119A0D2913.idx
.cache/clangd/index/cgltf.h.50C4F3F8E7F0BD76.idx
.cache/clangd/index/circle.cpp.C8E9BAC9939288B0.idx
.cache/clangd/index/circle.h.2274CB39B98A6C92.idx
.cache/clangd/index/cocoa_init.m.225AB18DC345716E.idx
.cache/clangd/index/cocoa_joystick.h.4E5683BBB26E252F.idx
.cache/clangd/index/cocoa_joystick.m.02CA540309A8F2A0.idx
.cache/clangd/index/cocoa_monitor.m.59342AA08D8C7741.idx
.cache/clangd/index/cocoa_platform.h.5176A2830BD10B88.idx
.cache/clangd/index/cocoa_time.c.9D54526BC541F64E.idx
.cache/clangd/index/cocoa_time.h.2E0429DE18F4FF99.idx
.cache/clangd/index/cocoa_window.m.B2A52AF1EDDF75A1.idx
.cache/clangd/index/config.h.ACC5F962E602CFB1.idx
.cache/clangd/index/configuration-manager.h.FB947203420C8E84.idx
.cache/clangd/index/context.c.D860228E1FCFCD42.idx
.cache/clangd/index/cpp_future.hpp.7A8E68ADBA17C6F5.idx
.cache/clangd/index/data-fetching-strategy.cpp.CF7841ACCF2EA287.idx
.cache/clangd/index/data-fetching-strategy.h.ECCB83161FD9A0F5.idx
.cache/clangd/index/data-loading-strategy.h.4BE845ABE88F51DD.idx
.cache/clangd/index/data-processor.cpp.7A6A0B6AF7A7CCEC.idx
.cache/clangd/index/data-processor.h.E175ED9EA8B62C4F.idx
.cache/clangd/index/database-manager.cpp.81C95F9247673000.idx
.cache/clangd/index/database-manager.h.6CD4ACDEC105A3C4.idx
.cache/clangd/index/detected.hpp.A0429168BD669A0C.idx
.cache/clangd/index/dr_mp3.h.66E7FABC99165F00.idx
.cache/clangd/index/dr_wav.h.0AE57950768C2C0F.idx
.cache/clangd/index/egl_context.c.97861C21B0BA081C.idx
.cache/clangd/index/egl_context.h.CB848A22BADDEAB9.idx
.cache/clangd/index/electricity-data.cpp.79C2A4CE14BF45A2.idx
.cache/clangd/index/electricity-data.h.B7F4780FA1093111.idx
.cache/clangd/index/end.hpp.0B8361638BEE61C6.idx
.cache/clangd/index/error-message-handler.cpp.A1D524321EEF6BC7.idx
.cache/clangd/index/error-message-handler.h.8773A2121BECD67D.idx
.cache/clangd/index/exceptions.hpp.EAC99778C402BCCF.idx
.cache/clangd/index/from_json.hpp.EF79263037DDBC40.idx
.cache/clangd/index/glad.h.834BB7EB1EFFC59B.idx
.cache/clangd/index/glfw3.h.56AB3F22805CA8B6.idx
.cache/clangd/index/glfw3native.h.1FDA2026B0BB7D97.idx
.cache/clangd/index/glfw_config.h.9E0271C0B5BF3599.idx
.cache/clangd/index/hash.hpp.C561BC0C5DB1AD81.idx
.cache/clangd/index/hedley.hpp.700EB1A58195BA65.idx
.cache/clangd/index/hedley_undef.hpp.FEC64EBD9988126A.idx
.cache/clangd/index/identity_tag.hpp.D91BB9501890171E.idx
.cache/clangd/index/init.c.972B3A4DDDCCC517.idx
.cache/clangd/index/input-handler.cpp.7DAE86FBDDD4AA86.idx
.cache/clangd/index/input-handler.h.77F0D8A338A698CE.idx
.cache/clangd/index/input.c.E81E8D6D95AC79C4.idx
.cache/clangd/index/input_adapters.hpp.B900713F4F25DA6C.idx
.cache/clangd/index/internal.h.B5FB6DC47BD1586B.idx
.cache/clangd/index/internal_iterator.hpp.514AA83BC05B2BC8.idx
.cache/clangd/index/is_sax.hpp.EE6C06B024595C2C.idx
.cache/clangd/index/iter_impl.hpp.7BAA971298BD214A.idx
.cache/clangd/index/iteration_proxy.hpp.62F66B8C726444E7.idx
.cache/clangd/index/iterator_traits.hpp.976A16C71059424E.idx
.cache/clangd/index/jar_mod.h.C8B9CE3CA1F4AFA9.idx
.cache/clangd/index/jar_xm.h.2325358F1CFE23A9.idx
.cache/clangd/index/json.hpp.9E63F57DE699C4A2.idx
.cache/clangd/index/json.hpp.A5BF18E63B72E366.idx
.cache/clangd/index/json_custom_base_class.hpp.66C96451354CC4A5.idx
.cache/clangd/index/json_fwd.hpp.3CA0AA34C409C959.idx
.cache/clangd/index/json_pointer.hpp.C10A9950075C278F.idx
.cache/clangd/index/json_ref.hpp.F4DC3158E73E35C0.idx
.cache/clangd/index/json_reverse_iterator.hpp.D8188710D488A2F2.idx
.cache/clangd/index/json_sax.hpp.184B9AF2C1CB6A10.idx
.cache/clangd/index/lexer.hpp.F3B2B0559D097AB8.idx
.cache/clangd/index/m3d.h.7F29C51BF9D040D6.idx
.cache/clangd/index/macro_scope.hpp.ED81487ABEE80B57.idx
.cache/clangd/index/macro_unscope.hpp.36F9351CEC4786D2.idx
.cache/clangd/index/main.cpp.0F242CE874325A97.idx
.cache/clangd/index/main.cpp.26DD641220617A29.idx
.cache/clangd/index/main.cpp.31E2AEF1847FE8A4.idx
.cache/clangd/index/main.cpp.3479E3B92D8F4BA3.idx
.cache/clangd/index/main.cpp.3A9F898E984BFB7B.idx
.cache/clangd/index/main.cpp.5D5331ACA1313F94.idx
.cache/clangd/index/main.cpp.6CA46F2FC8FD860D.idx
.cache/clangd/index/main.cpp.6DC42600E8249692.idx
.cache/clangd/index/main.cpp.70948FB477958925.idx
.cache/clangd/index/main.cpp.BE5CD4D6D15EB06C.idx
.cache/clangd/index/main.cpp.D745D34C11543C04.idx
.cache/clangd/index/main.cpp.E04A4E3AC3BAE531.idx
.cache/clangd/index/main.cpp.F1B9519F6ABCB47B.idx
.cache/clangd/index/mappings.h.632C99ABD62F0CA3.idx
.cache/clangd/index/miniaudio.h.4925B95B2148FB5D.idx
.cache/clangd/index/monitor.c.6BC492FD36B4D1CE.idx
.cache/clangd/index/msf_gif.h.CD8825DB68A19902.idx
.cache/clangd/index/nsgl_context.h.E2B2B0C3E5813D8F.idx
.cache/clangd/index/nsgl_context.m.C028A6AF96BC2540.idx
.cache/clangd/index/null_init.c.8FF1E76B07099A4A.idx
.cache/clangd/index/null_joystick.c.6114EDBE23D7D41F.idx
.cache/clangd/index/null_joystick.h.26F7451FAD85CF88.idx
.cache/clangd/index/null_monitor.c.CE429331ED0A1DA2.idx
.cache/clangd/index/null_platform.h.F5AEBBFB6995F3FE.idx
.cache/clangd/index/null_window.c.94FEECFE9952DC75.idx
.cache/clangd/index/offline-fetching-strategy.cpp.05EFADA32E57D232.idx
.cache/clangd/index/offline-fetching-strategy.h.2F0D43748315803B.idx
.cache/clangd/index/offline-loading-strategy.cpp.C478EA3909A1B9B4.idx
.cache/clangd/index/offline-loading-strategy.h.D12FA7B55619E896.idx
.cache/clangd/index/online-fetching-strategy.cpp.9A3FCB59001E2E59.idx
.cache/clangd/index/online-fetching-strategy.h.1CE9B1BC457B00CF.idx
.cache/clangd/index/online-loading-strategy.cpp.461E70143F8320F8.idx
.cache/clangd/index/online-loading-strategy.h.E4A1D09803DEC411.idx
.cache/clangd/index/ordered_map.hpp.A61DA99BDC794AA8.idx
.cache/clangd/index/osmesa_context.c.D1709763716C6B02.idx
.cache/clangd/index/osmesa_context.h.C53A94709046F547.idx
.cache/clangd/index/output_adapters.hpp.28EECC5E51A753D8.idx
.cache/clangd/index/par_shapes.h.4A9987F84144A2ED.idx
.cache/clangd/index/parser.hpp.38CFA441F295780A.idx
.cache/clangd/index/periodic-updater.cpp.4EFA3C7F3D7660DB.idx
.cache/clangd/index/periodic-updater.h.806E5981E0B6259B.idx
.cache/clangd/index/platform.c.7273C437C82A12B9.idx
.cache/clangd/index/platform.h.B4DB4636ED58B32F.idx
.cache/clangd/index/position_t.hpp.E3FB0467DAC10E55.idx
.cache/clangd/index/posix_module.c.AE45FAE765CA7FBF.idx
.cache/clangd/index/posix_thread.c.A69F6C4F67BCC5F0.idx
.cache/clangd/index/posix_thread.h.B5DEF96FCC059155.idx
.cache/clangd/index/primitive_iterator.hpp.C411EAECAD2962F3.idx
.cache/clangd/index/qoa.h.3897A97F61B7D25A.idx
.cache/clangd/index/qoaplay.c.3F70543910778EE6.idx
.cache/clangd/index/qoi.h.283161582B0AA524.idx
.cache/clangd/index/raudio.c.51E7E60B42E9A3FE.idx
.cache/clangd/index/raygui.cpp.371B82CD0B5B70A0.idx
.cache/clangd/index/raygui.cpp.44EF54AF23C82E4C.idx
.cache/clangd/index/raygui.h.1CB839574F9FA834.idx
.cache/clangd/index/raygui.h.BB10B256E6C03A34.idx
.cache/clangd/index/raylib.h.FF026BC2B865AE61.idx
.cache/clangd/index/raymath.h.32D1B9150D7F13C8.idx
.cache/clangd/index/rcamera.h.9F3F8DAC96E242F7.idx
.cache/clangd/index/rcore.c.DF992A4BEFC783D1.idx
.cache/clangd/index/rcore_desktop_glfw.c.1D82A19684AC22C0.idx
.cache/clangd/index/rgestures.h.03E3F60E629B2D50.idx
.cache/clangd/index/rl_gputex.h.5F3C713CC55B48FF.idx
.cache/clangd/index/rlgl.h.8893A23D89FFC772.idx
.cache/clangd/index/rmodels.c.6955F8BFA778CACC.idx
.cache/clangd/index/rprand.h.3EF7BBC95EB7A1F0.idx
.cache/clangd/index/rshapes.c.57DC0CF446FC1D0E.idx
.cache/clangd/index/rtext.c.102643286B451255.idx
.cache/clangd/index/rtextures.c.EC00E927660BDDA8.idx
.cache/clangd/index/saved-user-info-manager.h.59C0EA28A33C59F0.idx
.cache/clangd/index/sdefl.h.F424C66F0F45D28C.idx
.cache/clangd/index/serializer.hpp.C78C89C279B6DB80.idx
.cache/clangd/index/shutdown-circle.cpp.910497E4197FAA27.idx
.cache/clangd/index/shutdown-circle.h.73D3B7955B331980.idx
.cache/clangd/index/shutdown-data.cpp.165164FD203B138B.idx
.cache/clangd/index/shutdown-data.h.38AD5B44A2F210FB.idx
.cache/clangd/index/shutdown-info.cpp.7691C0CC84CCCA44.idx
.cache/clangd/index/shutdown-info.h.21F740426C312D1E.idx
.cache/clangd/index/sinfl.h.3558D0856C247770.idx
.cache/clangd/index/state-manager.cpp.3A605A5539B796CB.idx
.cache/clangd/index/state-manager.h.7CAA02CFF83AEDD5.idx
.cache/clangd/index/stb_image.h.4F6B641F2582E2B8.idx
.cache/clangd/index/stb_image_resize.h.27BF96E23EC83C42.idx
.cache/clangd/index/stb_image_resize2.h.9893C587014303A2.idx
.cache/clangd/index/stb_image_write.h.160C868E16A4C73A.idx
.cache/clangd/index/stb_perlin.h.0C940764E1DD554B.idx
.cache/clangd/index/stb_rect_pack.h.638C7C525F00C569.idx
.cache/clangd/index/stb_truetype.h.74406AD7EEC5973F.idx
.cache/clangd/index/stb_vorbis.c.E53354669E8A8671.idx
.cache/clangd/index/stb_vorbis.h.5F664BEE35D52625.idx
.cache/clangd/index/std_fs.hpp.AA90EC609D0DC9AB.idx
.cache/clangd/index/string_concat.hpp.46C399E9FFFF877D.idx
.cache/clangd/index/string_escape.hpp.E13BA031B1DD9EB2.idx
.cache/clangd/index/test_database_manager.cpp.313E37992041E6D5.idx
.cache/clangd/index/test_example.cpp.2F6367B42AA68226.idx
.cache/clangd/index/test_runner.cpp.FE45779E7C261E01.idx
.cache/clangd/index/test_shutdown_data.cpp.1B58DA26AC8B9A5C.idx
.cache/clangd/index/tinyobj_loader_c.h.C7EBA1F8E70EAFAB.idx
.cache/clangd/index/to_chars.hpp.8F95C15B6A4AF4DB.idx
.cache/clangd/index/to_json.hpp.171CC30993992211.idx
.cache/clangd/index/type_traits.hpp.C39C45E89E4FC653.idx
.cache/clangd/index/ui-manager.cpp.97D2E5E33C1466B1.idx
.cache/clangd/index/ui-manager.h.7A58905E1B2A6472.idx
.cache/clangd/index/user-record-manager.cpp.0FB3967086688661.idx
.cache/clangd/index/user-record-manager.h.2DD0513A7D348850.idx
.cache/clangd/index/utility.cpp.0EC949B0F5B8E033.idx
.cache/clangd/index/utility.h.600A54D3C8A89D1A.idx
.cache/clangd/index/utils.c.3C660352704035A9.idx
.cache/clangd/index/utils.h.04293221B57BC0DD.idx
.cache/clangd/index/value_t.hpp.A9B9FA3CF050CCC9.idx
.cache/clangd/index/void_t.hpp.D4EF5F89106E437C.idx
.cache/clangd/index/vox_loader.h.251BB7E312EE571D.idx
.cache/clangd/index/vulkan.c.BC84450785A34664.idx
.cache/clangd/index/window.c.4D583A64DB6BD0CA.idx
.idea/.gitignore
.idea/dataSources.xml
.idea/discord.xml
.idea/misc.xml
.idea/modules.xml
.idea/svitlo.iml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/1/f/1f4d556cca62bfb84ec8df1813a999bb2eda482c
.idea/sonarlint/issuestore/2/f/2ff37a214515c72ef8febecc585d3c1147d5cf98
.idea/sonarlint/issuestore/3/0/3068ca19a386d591e3d9db9ade0d1020cf60c36d
.idea/sonarlint/issuestore/5/4/54647eb9fbf4b7a9bfd079f529d32655c8eeb440
.idea/sonarlint/issuestore/6/1/61a2a655574c17dda72e46fdbff4e1d6653b42d7
.idea/sonarlint/issuestore/6/8/682a50d19e416195436708e48c7761923b8d6651
.idea/sonarlint/issuestore/8/e/8eb06b724ed4bf48ad6c00491ca275c76ff6dc2c
.idea/sonarlint/issuestore/9/9/9919791eb5b067d305337ee944badc7c46587110
.idea/sonarlint/issuestore/9/a/9a2aa4db38d3115ed60da621e012c0efc0172aae
.idea/sonarlint/issuestore/9/c/9cd08ba515a56785a8f6d9a05e5426bf645dddf5
.idea/sonarlint/issuestore/b/f/bfe7efe2a1c4280628e8e696ca5ec849d966a54f
.idea/sonarlint/issuestore/e/1/e106c79fbd05ea8b96ff1379e96b0970408af6f7
.idea/sonarlint/issuestore/e/2/e280e632b3ddf83c35fa0a52b2916bb0dca7ffc2
.idea/sonarlint/issuestore/e/d/edb20c946e58f077ba276352423dad4e9172b23e
.idea/sonarlint/issuestore/e/e/ee53e0c3df630ad4ff34b3259fe6b88cf7c7bf77
.idea/sonarlint/issuestore/e/e/ee7ebe0b54e2b9cebbf56d921489daecb4419fac
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/securityhotspotstore/1/f/1f4d556cca62bfb84ec8df1813a999bb2eda482c
.idea/sonarlint/securityhotspotstore/2/f/2ff37a214515c72ef8febecc585d3c1147d5cf98
.idea/sonarlint/securityhotspotstore/3/0/3068ca19a386d591e3d9db9ade0d1020cf60c36d
.idea/sonarlint/securityhotspotstore/5/4/54647eb9fbf4b7a9bfd079f529d32655c8eeb440
.idea/sonarlint/securityhotspotstore/6/1/61a2a655574c17dda72e46fdbff4e1d6653b42d7
.idea/sonarlint/securityhotspotstore/6/8/682a50d19e416195436708e48c7761923b8d6651
.idea/sonarlint/securityhotspotstore/8/e/8eb06b724ed4bf48ad6c00491ca275c76ff6dc2c
.idea/sonarlint/securityhotspotstore/9/9/9919791eb5b067d305337ee944badc7c46587110
.idea/sonarlint/securityhotspotstore/9/a/9a2aa4db38d3115ed60da621e012c0efc0172aae
.idea/sonarlint/securityhotspotstore/9/c/9cd08ba515a56785a8f6d9a05e5426bf645dddf5
.idea/sonarlint/securityhotspotstore/b/f/bfe7efe2a1c4280628e8e696ca5ec849d966a54f
.idea/sonarlint/securityhotspotstore/e/1/e106c79fbd05ea8b96ff1379e96b0970408af6f7
.idea/sonarlint/securityhotspotstore/e/2/e280e632b3ddf83c35fa0a52b2916bb0dca7ffc2
.idea/sonarlint/securityhotspotstore/e/d/edb20c946e58f077ba276352423dad4e9172b23e
.idea/sonarlint/securityhotspotstore/e/e/ee53e0c3df630ad4ff34b3259fe6b88cf7c7bf77
.idea/sonarlint/securityhotspotstore/e/e/ee7ebe0b54e2b9cebbf56d921489daecb4419fac
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/3.30.0/CMakeCXXCompiler.cmake
CMakeFiles/3.30.0/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.30.0/CMakeSystem.cmake
CMakeFiles/3.30.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.30.0/CompilerIdCXX/CMakeCXXCompilerId.o
.cache/clangd/index/consumer.h.0A6ED138ECCFB540.idx
.cache/clangd/index/data-fetcher.h.BEEAF31AC5D59822.idx
.cache/clangd/index/database-manager.cpp.350F65164F039FAA.idx
.cache/clangd/index/database-manager.h.239195F763F8D5B0.idx
.cache/clangd/index/electricity-data.cpp.61B470816C307DAF.idx
.cache/clangd/index/electricity-data.h.A10F7D6705BCD40A.idx
.cache/clangd/index/main.cpp.7F9ED61D5887F8B8.idx
